# Entornos virtuales
.venv
venv/
env/
ENV/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Archivos de base de datos
*.sqlite
*.sqlite3
*.db

# Archivos de IDE y editores
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs y bases de datos
logs/
*.log

# Directorios de pruebas
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Archivos locales
local_settings.py
db.sqlite3
db.sqlite3-journal

# Archivos de Jupyter Notebook
.ipynb_checkpoints