# requirements.txt

# --- Framework y Servidor ---
Flask==3.1.1
gunicorn==21.2.0
Flask-Cors

# --- Base de Datos ---
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.41
greenlet==3.2.3
psycopg2-binary  # <--- ¡IMPORTANTE! Añade esto para usar PostgreSQL en Render

# --- Utilidades ---
python-dotenv==1.0.0
